* {
  font-family: "Chakra Petch", sans-serif;
}
body {
  background-color: #193c40;
  color: #a62b1f;
}
.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.questions {
  display: flex;
  flex-direction: column;
  width: 100vh;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.btn {
  background-color: #2e5902;
  color: #d96941;
  padding: 2% 10%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 100vh;
}
.btn:hover {
  cursor: pointer;
  border-color: white;
}
.startGame {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.startGame button:hover {
  cursor: pointer;
  border-color: teal;
}
.hidden {
  display: none;
}
.startGame {
  display: flex;
}

.timer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 50px;
  padding-bottom: 5px;
}
